<!DOCTYPE html>
<html lang="en">
  {% block head %}
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>{% block title %}{{ trans(key="title", lang=lang) }} &middot; {{ trans(key="description", lang=lang) }}{% endblock title %}</title>
    <meta name="description" content="{% block description %}{{ trans(key="description", lang=lang) }}{% endblock description %}" />
    <link rel="shortcut icon"  href="{{ get_url(path="favicon.ico") | safe }}" />
    <link rel="alternate" type="application/atom+xml" title="RSS" href="{{ get_url(path="atom.xml", lang=lang) | safe }}">

    {% set data = load_data(path="public/style.css", format="plain") -%}
    <style>{{ data | safe }}</style>

    {% block seo -%}
      <meta property="og:site_name" content="{% block ogsitename %}{{ trans(key="title", lang=lang) }}{% endblock ogsitename %}">
      <meta name="author" content="{% block author %}{{config.author}}{% endblock author %}" />
      <meta property="og:title" content="{% block ogtitle %}{{ trans(key="title", lang=lang) }}{% endblock ogtitle %}">
      <meta property="og:description" content="{% block ogdesc %}{{ trans(key="description", lang=lang) }}{% endblock ogdesc %}">
      <meta property="og:url" content="{% block ogurl %}{{ get_url(path="/", lang=lang) | safe }}{% endblock ogurl %}">
      <meta property="og:image" content="{% block ogimage %}{% if config.extra.ogimage %}{{ get_url(path=config.extra.ogimage) | safe }}{% endif %}{% endblock ogimage %}">

      {% block seo_date %}
      {% endblock seo_date %}
      {% block seo_page_earlier %}
      {% endblock seo_page_earlier %}
      {% block seo_page_later %}
      {% endblock seo_page_later %}
    {%- endblock seo -%}

    {% block extra_head %}
    {% endblock extra_head %}

  </head>
  {% endblock head %}

  <body>
    <main id="main" role="main">
      {% block header %}
      <header role="banner">
        <h3 style="margin-top:0;">
          <a href="{{ get_url(path="/", lang=lang) | safe }}" title="Home">{{ trans(key="title", lang=lang) }}</a>
          <br /><small>{{ trans(key="description", lang=lang) }}</small>
        </h3>
      </header>
      <hr />
      {% endblock header %}

      {% block content %}
      <ul class="homepage-list">
        {% for post in section.pages %}
          {%<post_in_list post={post}>%}
          {%</post_in_list>%}
        {% endfor %}
      </ul>
      {% endblock content %}

      {% block footer %}
      <footer role="contentinfo">
        <hr />
        {% if config.extra.footer_links %}
        {% set footer_links = config.extra.footer_links[lang] | default(value=config.extra.footer_links) %}
        <nav style="margin-bottom:1rem;" role="navigation">
          {% set base_url = get_url(path="", lang=lang) %}
          {% for item in footer_links %}
            <a href="{{ item.url | replace(from="$BASE_URL", to=base_url) | safe }}">{{ item.name }}</a>
            {% if not loop.last %}
              <span>&middot;</span>
            {% endif %}
          {% endfor %}
        </nav>
        {% endif %}
        {% block taglines %}
          {%- if config.extra.footer_credits or config.extra.footer_credits is undefined -%}
            <small>
              {% set credits = "Built with [Zola](https://www.getzola.org) and [Lightspeed](https://github.com/carpetscheme/lightspeed)" %}
              {{ credits | markdown(inline=true) | safe }}
            </small>
          {%- endif -%}
        {% endblock taglines %}
      </footer>
      {% endblock footer %}

    </main>
    {% block after_main %}
    {% endblock after_main %}
  </body>
</html>

